/* Overall body style */

body {
	overflow:visible;
	word-wrap:break-word;
	width: 1000px;
	background-color: #f3f3f3;
}

/*style for the title/banner of the page */
#title {
	width: 600px;
	margin-left: 200px;
	text-align: center;
	font-variant: small-caps;
	font-size: 2.2em;
	color: black;
}

#title a {
	text-decoration: none;
	color: black;
}

/* style for the result, i.e. win/loss */
#results {
	font-size: 1.5em;
	font-weight: bold;
	clear: both;
	height: 50px;
	color: rgba(20,121,85,0.63);
	text-align: center;
}

/* the scoreboard shows wins, losses, and forfeits */
#scoreBoard {
	padding-left: 75px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 1.2em;
}

/* Separates the title from the content */
hr.blue {
	color: #669BB5;
	background-color: #669BB5;
	height: 3px;
	width: 600px;
	margin-left: 200px;
}

/* the outerbox that wraps all content */
.outerBox {
	width: 600px;
	margin-left: 200px;
	background-color: rgb(232, 232, 232);
	padding-bottom: 100px;
	border-radius:25px;
	box-shadow: 7px 7px 3px #888888;
}

/* style for the actual content itself */
.innerBox {
	padding-top: 50px;
	padding-left: 75px;
	padding-right: 20px;
	font-family: monospace;
	font-size: 1.20em;
}

/* style for the piece class*/

.piece {
	width: 150px;
	height: 150px;
	background-color: red;
	float: left;
	border: solid 1px black;
}

/* style for the container containing the three buttons at the bottom*/
#buttons {
	padding-top: 20px;
	padding-left: 100px;
	clear: both;
}

/* style for the page footer */
footer {
	clear: both;
	padding-top: 1em;
	text-align: center;
	font-size: .75em;
}

/* for any error messages */
.error {
	color: red;
}

/* Button design curtosy of css-tricks.com */

.button {
   	border-top: 1px solid #2a3b45;
   	background: #4a7796;
   	background: -webkit-gradient(linear, left top, left bottom, from(#388c88), to(#4a7796));
   	background: -webkit-linear-gradient(top, #388c88, #4a7796);
   	background: -moz-linear-gradient(top, #388c88, #4a7796);
   	background: -ms-linear-gradient(top, #388c88, #4a7796);
   	background: -o-linear-gradient(top, #388c88, #4a7796);
   	padding: 6px 12px;
   	-webkit-border-radius: 8px;
   	-moz-border-radius: 8px;
   	border-radius: 8px;
   	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	box-shadow: rgba(0,0,0,1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: #fce5fc;
   	font-size: 14px;
   	font-family: Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
   	vertical-align: middle;
}

.button:hover {
 	border-top-color: #26524b;
    background: #26524b;
    color: #fcf9fc;
}

.button:active {
    border-top-color: #358bc4;
    background: #358bc4;
}